.upload-canvas {
    border: 2px dashed #ccc;
    margin: 20px 0;
    min-height: 300px;
}

.upload-box {
    position: relative;
    display: flex;
}

.upload-button {
    width: 100%;
    text-align: center;
    line-height: 300px;
}

.upload-button div.middle {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.upload-button #inputImage input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0;
}

.upload-button2 {
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 50px;
    border: 2px dashed #ccc;
    float: left;
    margin: 10px;
}

.upload-button2 #inputImage input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
}

.upload-button .fa, .upload-button2 .fa {
    display: block;
    font-size: 34px;
    margin-top: 5px;
    text-align: center;
    color: #8898aa;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.upload-button .badge,
.upload-button2 .badge {
    border-radius: 16px;
}

#upload-show {
    margin: 0;
    padding: 0;
    float: left;
}

#upload-show input {
    display: none;
}

#upload-show li {
    list-style: none;
    float: left;
    padding: 10px;
}

#upload-show li .badge {
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 1px;
}

#upload-show li.box {
    width: 150px;
    height: 150px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border: .1rem solid #dfe3e8;
    background: #f4f6f8;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    position: relative;
    z-index: 11;
}

#upload-show li.box:hover {
    background: linear-gradient(180deg, rgba(33, 43, 54, .55), hsla(0, 0%, 100%, 0));
}

#upload-show li.box img {
    width: 100%;
    border-radius: 10px;
}
